<div class="flex flex-col items-center min-h-screen bg-gradient-to-r from-blue-100 to-green-100 py-10 px-6">
    <div class="w-full max-w-5xl bg-white p-8 rounded-xl shadow-lg">
      <h2 class="text-4xl font-bold text-center mb-8 text-black-900">My Transactions</h2>
  
      <div *ngIf="error" class="text-red-500 mb-6">{{ error }}</div>
  
      <div *ngIf="isLoading" class="text-center">Loading...</div>
  
      <div *ngIf="!isLoading && !error">
        <div class="flex justify-between mb-6">
          <div class="flex space-x-4">
            <button
              (click)="handleSort('date')"
              class="bg-green-700 text-white px-5 py-2 rounded-full hover:bg-green-500"
            >
              Sort by Date
            </button>
            <button
              (click)="handleSort('group')"
              class="bg-green-700 text-white px-5 py-2 rounded-full hover:bg-green-500"
            >
              Sort by Group
            </button>
            <button
              (click)="handleSort('type')"
              class="bg-green-700 text-white px-5 py-2 rounded-full hover:bg-green-500"
            >
              Sort by Type
            </button>
          </div>
        </div>
  
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <div
            *ngFor="let transaction of sortedTransactions"
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
          >
            <div class="flex justify-between mb-4">
              <div class="text-lg font-semibold text-gray-800">{{ formatDate(transaction.transactionDate) }}</div>
              <div
                [ngClass]="{
                  'text-green-600': transaction.transactionType === 'credit',
                  'text-red-600': transaction.transactionType === 'debit'
                }"
                class="text-lg font-semibold"
              >
                {{ transaction.transactionType }}
              </div>
            </div>
  
            <div class="text-xl font-bold text-gray-800 mb-2">
              ${{ transaction.transactionAmount.toFixed(2) }}
            </div>
  
            <div class="text-sm text-gray-600">
              <div>
                <span class="font-semibold">Group ID: </span>{{ transaction.groupId }}
              </div>
              <div>
                <span class="font-semibold">Transaction To: </span>{{ userNames[transaction.transactionTo] || transaction.transactionTo }}
              </div>
              <div>
                <span class="font-semibold">Transaction From: </span>{{ userNames[transaction.transactionFrom] || transaction.transactionFrom }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  